.container{
    width: 1030px;
    height: 180px;

    margin:100px auto;

    box-sizing: border-box;
}
.my-images{
    width: 187px;
    height: 150px;
    vertical-align: top;
    margin:5px;
    border:1px solid orange;
    cursor: pointer;
   
}
.my-images:hover{
    border:1px solid white;
    transition: all ease-out 1s;
}
#blackpanel{
    position: absolute;
    top:0;
    left:0;
    right: 0;
bottom: 0;
background:rgba(0,0,0,0.8);
display:none;
}
